body{
  font-family: ff-nexus-typewriter, sans-serif;
  background: #1a1ab5;
  color:#eae3e3;
}

a{
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbowAnimation 2s ease-in-out infinite;
    background-size: 400% 100%;
}

a:hover{
  border-bottom: 1px solid white;
}

section{
  margin: 5vw;
}

h1{
  margin: .5em 0;
}

summary{
  padding: 1em;
}

.sasuke{
  mix-blend-mode: darken;
  width: 100%;
}


@keyframes rainbowAnimation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}