body{
  font-family: ff-nexus-typewriter, sans-serif;
  background: #1a1ab5;
  color:#eae3e3;
}

section{
  margin: 5vw;
}

h1{
  margin: .5em 0;
}

summary{
  padding: 1em;
}

.sasuke{
  mix-blend-mode: darken;
  width: 100%;
}