*{
  box-sizing: border-box;
}

$c: #bdc1c3;

body{
  background: #151517;
  color: $c;
  font-size: 1.25em;
  margin: 0;
  line-height: 1.25em;
  font-family: "Helvetica";
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

p{
  font-size: .8em;
  letter-spacing: -.25px;
}

h1, h2, h3{
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
}

p, h1, h2, h3, span, header, footer{
  
      background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: rainbowAnimation 40s ease-in-out infinite;
      background-size: 400% 100%;
}


#container{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1m;
  margin: 1em;
  
  ::-webkit-scrollbar {
    display: none;
}
  
  .column{
    position: relative;
    height: 100%;
    width: 48%;
    overflow-y: scroll;
    padding-right: 17px;
  }
  
}

a.back{
  color: $c;
  text-decoration: none;
}

a.back:hover{
  font-weight: bold;
}

.heading{

  h1{
  text-align: left;
    line-height: 120%;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: -1.5px;
    line-height: 110%;
  }
  
  border-bottom: 1px solid $c;
  

}

header{
  text-align: center;
  top: 0;
  width: 100%;
  left: 0;
  border-bottom: 1px solid $c;
  padding: 2.5vw;
}

footer{
  text-align: center;
  bottom: 0;
  width: 100%;
  left: 0;
  border-top: 1px solid $c;
  padding: 2.5vw;
}

hr{
  border: .5px solid $c;
  margin: 0;
  padding: 0;
  height: 0;
}

section#products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.extension{
  padding: .25em;
  width: 100%;
  margin: .5em 0;
  text-align: center;
  border-bottom: 1px solid $c;
  
  h2{
    margin: 0;
  }
  
  sup{
    font-size: .4em;
  }
  
  small{
    font-size: 14px;
  }
  
  a{
    color: blue;
  }
  
  button{
    margin-bottom: 1em;
  }
  
  button:hover{
    box-shadow: 0 0 20px #fff;
  }
  
}

#title{
  text-align: center;
  width: 45%;
  border-bottom: 1px solid $c;
}

section#photos{
  text-align: center;  
  margin: 2.5em 0;
}

section#photos img{
  width: 220px;
}

._pic{
  background: #eeeff0;
}

img._pic{
  max-width: 70px;
  background: #eeeff0;
  mix-blend-mode: darken;
  border: 1px solid #000;
  margin: .5em;
}

button{
  padding: .5em;
}


.cursor {
  display: none;
}

.cursor img {
  width: 30px;
  display: block;
  position: absolute;
  z-index: -999;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}


    @keyframes rainbowAnimation {

      0%,
      100% {
        background-position: 0 0;
      }

      50% {
        background-position: 100% 0;
      }
    }