._pt {
  position: relative;
  width: 225px;
  margin: 2em;
  text-align: center;
  font-weight: 300;
  font-family: 'Editorial New';
  mix-blend-mode: difference;

  background: #fff;
  border: 2.5px solid #000;
  padding: .5em;
  box-shadow: 0 0 30px;
  /*
-webkit-text-stroke-width: .5px;
-webkit-text-stroke-color: blue;
*/

}

._pt:hover {
  text-shadow: 0 0 4px blue;
  cursor: help;
  background: black;
  color: #fff;
}

._pt h3 {
  border-bottom: 2.5px solid black;
  margin-top: .25em;
}

.cursor img {
  width: 30px;
  display: block;
  position: absolute;
  mix-blend-mode: darken;
  z-index: -999;
}

body {}

a#back {
  font-family: 'Editorial New';
  text-transform: uppercase;
  padding: .5em;
  box-sizing: border-box;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 15vw;
  line-height: 90%;

  font-weight: 300;
  font-family: 'Editorial New';

}

#title {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  letter-spacing: -4px;

  cursor: all-scroll;
  transform: translateY(-50%);

  mix-blend-mode: difference;
}

header {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  font-weight: 300;
  font-family: 'Editorial New';
  color: blue;
  z-index: 9999;
}

header:hover {
  cursor: e-resize;
}

#coordinates {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  font-weight: 300;
  font-family: 'Editorial New';
  color: blue;
  z-index: 9999;
}



#earth {
  position: fixed;
  pointer-events: none;
  z-index: -99999;
  width: 100vw;
  height: 100vh;
  background: #fff;
  background-image: url(world.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

}

@font-face {
  font-family: 'Editorial New';
  src: url('EditorialNew-Medium.woff2') format('woff2'),
    url('EditorialNew-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  src: url('EditorialNew-Light.woff2') format('woff2'),
    url('EditorialNew-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
