body {
  height: auto;
  font-family: 'Helvetica', Arial, sans-serif;
  background: #fff;
}

#container {
  background: #fff;
}

// GLOBAL LEMENTS

button {
  background: none;
  border: 1px solid #fff;
  margin: 1em 0 .25em 0;
  font-size: .9em;
  padding: .5em;
  color: #fff;
  display: none;
}

button:hover {
  box-shadow: 0 0 20px #fff;
}

u {
  display: inline-block;
  padding: .25em;
}

h1 {
  margin: 0;
  padding: 1em;
  text-align: center;
}

// END

#end{
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  color:#fff;
  z-index: 9999999;
  
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-content: center;
  align-items: center;
  display: none;
  
  h5{
    font-size: 2.5em;
    pointer-events: none;
  }
  
}

// CLOCK



#CLOCK {
  position: fixed;
  width: 100%;
  top: 20vh;
  left: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #fff;
  z-index: -1;

  ._secs {
    font-size: 3em;
    color: black;
  }

  ._date {
    margin: .5em;
  }

}



// WRAPPER

.vfx-color {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #ffffff;
  mix-blend-mode: darken;
}


.wrapper-action {
  position: absolute;
  height: 60vh;
  max-height: 500px;
  bottom: 0;
  width: 100%;
  left: 0;
  background: black;
  color: #fff;
  box-sizing: border-box;
}


.col-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2.5vw;
  margin: 0 1em;
  height: 40%;

}


#STATS {
  ._money {
    display: block;
    padding: .5em;
  }
}


// LOG

#LOG {
  display: block;
  overflow-y: scroll;
  padding: 2.5vw;
  margin: 0 1em;
  max-height: 250px;
}


// hacky, sorry

.log-cover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
  z-index: 1;
}

._log {
  margin: .5em.25em;
  display: block;
}
