*{
  box-sizing: border-box;
}

body{
background-size: cover;
background-repeat: no-repeat;
  background-position: center top;
  font-size: 1.125em;
  letter-spacing: -.25px;
  max-width: 100vw;
  max-height: 100vh;
  top: 0;
  left: 0;
overflow: hidden;
}

section#room {
  white-space: pre;
}
